/Supervisor/target/
labwork1/.vs/labwork1/v16/.suo
labwork1/.vs/labwork1/v16/Browse.VC.db
Supervisor.zip
labwork1/.vs/labwork1/v16/Browse.VC.db-shm
labwork1/.vs/labwork1/v16/Browse.VC.db-wal
labwork1/.vs/labwork1/v16/Browse.VC.opendb
labwork1/x64/Debug/warehouse.obj
labwork1/x64/Debug/labwork1.tlog/labwork1.write.1u.tlog
labwork1/x64/Debug/labwork1.tlog/link.command.1.tlog
labwork1/x64/Debug/labwork1.tlog/link.read.1.tlog
labwork1/x64/Debug/labwork1.tlog/link.write.1.tlog
